{% extends "question_answer_backend/main.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8">
      <h2>Whats Here?</h2>
        <p>
            A simple web app that demonstrates how to deploy a QA Systems.
        </p>
        <p>
            It supports:
        </p>
        <ul>
            <li>Pretrained Model: A models trained from the community.</li>
            <li>Trained QA: A simple model built using the SQUAD dataset.</li>
        </ul>
    </div>
  </div>
</div>



{%endblock%}